<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Some famous Computer Scientists</h1>
  <div>{{data}}</div>

  <div>
    <a href="/users">All Users</a>
  </div>

<p><a href="/another">Go to the other page</a></p>


  <div>
    <form id="search" method="POST">
      <input type="search" id="content" name="content"> 
      <select name="option" id="option" form="search">
        <option value="user_by_name">Search by user_name</option>
      </select>
      <input type="submit" name="search">
    </form>
  </div>


</body>


</html>
