<table>
    <h2>Search for Transactions on {{date.created_time}}</h2>
    <thead>
        <tr>
            <th>Payment ID</th>
            <th scope="col"> Time </th>
            <th scope="col">Pay/charge</th>
            <th scope="col">Actor name </th>
            <th scope="col">Target name </th>
            <th scope="col">Message </th>
        </tr>
    </thead>
    <tbody>
    	{% for row in trx %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td><a href="{{ url_for('read_user',id=row[3]) }}">{{ row[3] }}</a></td>
            <td><a href="{{ url_for('read_user',id=row[4]) }}">{{ row[4] }}</a></td>
            <td>{{ row[5] }}</td>
          </tr>
    	{% endfor %}

    </tbody>
</table>




<br><br><br>
<a href="/">Back to home
