<html>
    <style>
        body{
            font-size: 15pt;
            font-family: arial;
        }
    </style>

<body>

  <h2>User Information: {{ user.user_name }}</h2>

    <div>
        Full name: {{ user.full_name }}<br>
        Photo link: {{ user.photo_link }}<br>
        Facebook: {{ user.fb_account }}
    </div>



    <div>
    <table>
        <p><b>Your bank accounts</b></p>
        <thead>
            <tr>
                <th>card_id</th>
                <th scope="col">user_name </th>
                <th scope="col">credit_debit</th>
                <th scope="col">bank_name </th>
            </tr>
        </thead>
        <tbody>
        	{% for row in card %}
              <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
              </tr>
        	{% endfor %}

        </tbody>
    </table>
  </div>

    <div>
        <p><b>Risk Evaluation</b></p>
        Risk 1. Too many transactions: {{ risk.too_many_payments }}<br>
        Risk 2. Too many friends shown to the public: {{ risk.too_many_friends_shown }}<br>
        Risk 3. Track to Facebook: {{ risk.track_to_facebook }}<br>
        Risk 4. Too detailed transaction message: {{ risk.too_detailed_notes }}<br>
    </div>

  <br><br>
  Based on the evaluation, your risk level is: <b>{{ risk.risk_level }}</b> (<a href="/risk/{{risk.risk_level}}">Click to see more users in your risk group</a>)


  <p><a href="https://www.google.com/search?q={{ risk.keyword }}">Search for potential risk</a></p>

</body>



<br><br><br>
<a href="/">Back to home

</html>
